.right-gnb-list .icon-bar {
    display: block;
}

.right-gnb-list .btn-popup {
    display: block;
}

.main-container {
    position: relative;
    display: block;
    max-width: 1780px;
    min-height: 900px;
    padding: 0 20px 68px 20px;
    margin: 0 auto;
}

.main-container:before {
    position: absolute;
    top: 0;
    left: 50%;
    content: "";
    display: block;
    width: 1740px;
    height: 690px;
    margin-left: -870px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 90px;
    background-image: url(../images/main/bg_visual01_pc.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-color: #039ddd
}

.main-contents {
    position: relative;
    max-width: 1240px;
    padding: 102px 20px 0 20px;
    margin: 0 auto;
    z-index: 1;
}

.main-contents01 {
    display: block;
}

.main-visaul-banner-wrapper {
    position: relative;
    padding-right: 440px;
}

.main-visual-wrapper {
    position: relative;
    height: 348px;
}

.main-visual-wrapper>dl {
    position: relative;
    display: block;
    z-index: 10;
}

.main-visual-wrapper>dl>dt {
    display: block;
    margin-bottom: 17px;
    font-size: 21px;
    line-height: 29px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
}

.main-visual-wrapper>dl>dd,
.main-visual-wrapper>dl>dd>span {
    display: block;
}

.main-visual-wrapper>dl>dd {
    font-size: 39px;
    line-height: 52px;
    color: #ffffff;
    font-weight: 700
}

.main-visual-wrapper>img {
    position: absolute;
}

.main-visual-wrapper>.bg01 {
    right: 129px;
    bottom: -30px;
    width: 300px;
    z-index: 1
}

.main-visual-wrapper>.bg02 {
    right: 49px;
    bottom: 112px;
    z-index: 1;
}

.main-visual-wrapper>.bg03 {
    right: 16px;
    bottom: 135px;
}

.main-visual-wrapper .pc {
    display: block;
}

.main-visual-wrapper .mobile {
    display: none;
}

.main-visual-wrapper>dl>dt,
.main-visual-wrapper>dl>dd>span,
.main-visual-wrapper>img {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
    transition-delay: .25s;
    transition: all .8s;
}

.main-visual-wrapper>dl>dt {
    transition-delay: .25s;
}

.main-visual-wrapper>.bg01 {
    transition-delay: .75s;
}

.main-visual-wrapper>.bg02,
.main-visual-wrapper>dl>dd>span:nth-child(1) {
    transition-delay: 1s;
}

.main-visual-wrapper>.bg03,
.main-visual-wrapper>dl>dd>span:nth-child(2) {
    transition-delay: 1.25s;
}

.main-visual-wrapper>dl>dd>span:nth-child(3) {
    transition-delay: 1.5s;
}

.main-visual-wrapper.active>dl>dt,
.main-visual-wrapper.active>dl>dd>span,
.main-visual-wrapper.active>img {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}

.main-log-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-log-wrapper:before {
    position: absolute;
    top: 122px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 217px;
    background-image: url(../images/main/bg_shadow03.png);
    background-repeat: no-repeat;
    background-size: 378px 217px;
    background-position: center center;
}

.main-login-wrapper {
    position: relative;
    width: 390px;
    height: 246px;
    padding: 30px 148px 34px 37px;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
}

.main-login-wrapper>h2 {
    margin-bottom: 14px;
    color: #606060;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
}

.main-login-wrapper>h2>strong {
    color: #119acd;
    font-weight: 600;
}

.main-login-wrapper input[type="text"],
.main-login-wrapper input[type="search"],
.main-login-wrapper input[type="password"] {
    display: block;
    width: 100%;
    height: 38px !important;
    background-color: #f3f3f3;
    border: 1px solid #f0f0f3;
    border-radius: 4px;
    text-indent: 15px;
    color: #000;
    font-size: 15px;
}

.main-login-wrapper input::placeholder {
    color: #333333
}

.main-login-wrapper input+input {
    margin-top: 4px;
}

.main-login-wrapper input[type="submit"] {
    position: absolute;
    top: 88px;
    right: 42px;
    display: block;
    width: 100px;
    height: 80px;
    background-color: #4f6bd8;
    border-radius: 4px;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    appearance: none;
    border: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.main-login-wrapper input[type="submit"]:hover {
    background-color: #3c509d
}

.main-login-wrapper>ul {
    margin-top: 17px;
    width: calc(100% + 106px);
    text-align: center;
}

.main-login-wrapper>ul>li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0 13px;
}

.main-login-wrapper>ul>li>a {
    display: block;
    color: #666666;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

.main-login-wrapper>ul>li>a:hover,
.main-login-wrapper>ul>li>a:focus {
    color: #4f6bd8
}

.main-login-wrapper>ul>li>a:after {
    position: absolute;
    bottom: 3px;
    left: 13px;
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #4f6bd8;
    transition: all 0.2s ease-in-out;
}

.main-login-wrapper>ul>li>a:hover:after,
.main-login-wrapper>ul>li>a:focus:after {
    width: calc(100% - 26px);
}

.main-login-wrapper>ul>li:first-child:before {
    position: absolute;
    top: 50%;
    right: -2px;
    content: "";
    display: block;
    width: 1px;
    height: 11px;
    margin-top: -5.5px;
    background-color: #bbbbbb;
}

.main-logout-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 390px;
    height: 246px;
    padding: 30px;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
}

.main-logout-wrapper>p {
    width: 100%;
    margin-bottom: 15px;
    color: #333333;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.main-logout-wrapper>p>img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 24px;
}

.main-logout-wrapper>.log-btns {
    display: block;
}

.main-logout-wrapper>.log-btns>a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 36px;
    border-radius: 4px;
    margin: 0 2px;
    font-size: 16px;
    font-weight: 600;
}

.main-banner-slider-wrapper {
    position: relative;
    float: right;
    width: calc(50% - 25px);
    max-width: 575px;
    height: 260px;
    border-radius: 15px;
    overflow: hidden;
}

.main-banner-slider-wrapper .item a {
    display: block;
}

.main-banner-option {
    position: absolute;
    top: 16px;
    right: 15px;
    display: flex;
    min-width: 140px;
    height: 32px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    z-index: 10;
    background-color: rgba(0, 26, 43, 0.6);
    border-radius: 16px;
    color: #fff;
}

.main-banner-option #counter {
    font-size: 15px;
    font-weight: 700;
}

.main-banner-option .btn-previous,
.main-banner-option .btn-next {
    width: 8px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 8px 12px;
    background-position: center center;
    text-indent: -5000rem;
}

.main-banner-option .btn-previous {
    background-image: url(../images/main/btn_previous01.png);
}

.main-banner-option .btn-next {
    background-image: url(../images/main/btn_next01.png);
}

.main-banner-option .btn-play,
.main-banner-option .btn-stop {
    width: 9px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: 8px 12px;
    background-position: center center;
    text-indent: -5000rem;
}

.main-banner-option .btn-play {
    background-image: url(../images/main/btn_play01.png);
}

.main-banner-option .btn-stop {
    background-image: url(../images/main/btn_stop01.png);
}

.main-contents02 {
    position: relative;
    width: 100%;
    min-height: 200px;
}

.main-contents02:before {
    position: absolute;
    top: 30px;
    left: -45px;
    content: "";
    display: block;
    width: 66px;
    height: 100%;
    background-color: #fff;
    border-top-left-radius: 30px;
}

.main-contents02:after {
    position: absolute;
    top: 30px;
    left: 0;
    margin-left: -1px;
    content: "";
    display: block;
    width: 150%;
    height: 100%;
    background-color: #fff;
}

.main-contents-wrapper {
    position: relative;
    padding: 0;
    z-index: 5;
}

.main-contents-wrapper:after {
    display: block;
    content: "";
    clear: both;
}

.main-menu01-wrapper {
    float: right;
    width: calc(50% - 25px);
}

.main-menu01-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 0 10px;
}

.main-menu01-area>a {
    display: block;
    width: 100%;
    max-width: 115px;
    text-align: center;
}

.main-menu01-area>a>.icon {
    position: relative;
    display: flex;
    width: 100%;
    padding-bottom: 100%;
    margin-bottom: 17px;
    background-color: #eff6fc;
    border-radius: 10px 30px 10px 10px;
    transition: all 0.2s ease-in-out;
}

.main-menu01-area>a>.icon>img {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 55px;
    height: 55px;
    margin-top: -27.5px;
    margin-left: -27.5px;
}

.main-menu01-area>a>strong {
    display: block;
    height: 44px;
    color: #333333;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    word-break: keep-all;
    transition: all 0.2s ease-in-out;
}

.main-menu01-area>a:hover>.icon,
.main-menu01-area>a:focus>.icon {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15)
}

.main-menu01-area>a:hover>strong,
.main-menu01-area>a:focus>strong {
    color: #000;
}

.main-menu02-wrapper {
    clear: both;
    margin-bottom: 52px;
}

.main-menu02-wrapper:after {
    display: block;
    content: "";
    clear: both;
}

.main-menu02-wrapper>a {
    position: relative;
    float: left;
    width: calc(50% - 25px);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 48px 0 200px;
    border-radius: 15px 15px 35px 15px;
    z-index: 10;
}

.main-menu02-wrapper>a:before {
    position: absolute;
    bottom: -82px;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 82px;
    background-image: url(../images/main/bg_shadow02.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    transition: all 0.2s ease-in-out;
}

.main-menu02-wrapper>a:hover:before {
    background-image: url(../images/main/bg_shadow02_hover.png);
}

.main-menu02-wrapper>a:nth-child(even) {
    float: right;
}

.main-menu02-wrapper>a.bg01 {
    background-color: #517de0
}

.main-menu02-wrapper>a.bg02 {
    background-color: #e77609
}

.main-menu02-wrapper>a .icon {
    position: absolute;
    top: 50%;
    left: 68px;
    display: block;
    width: 102px;
    margin-top: -51px;
}

.main-menu02-area {
    position: relative;
    display: block;
    width: 100%;
    padding-bottom: 27px;
}

.main-menu02-area:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 42px;
    height: 7px;
    background-image: url(../images/main/icon_arrow_right01.png);
    background-repeat: no-repeat;
    background-size: 42px 7px;
    background-position: 0 0;
    transition: all 0.2s ease-in-out;
}

.main-menu02-wrapper>a:hover .main-menu02-area:before,
.main-menu02-wrapper>a:focus .main-menu02-area:before {
    left: 5px;
}

.main-menu02-area>strong,
.main-menu02-area>span {
    display: block;
}

.main-menu02-area>strong {
    font-size: 33px;
    line-height: 43px;
    font-weight: 700;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.main-menu02-area>span {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

.main-menu02-wrapper>a:hover .main-menu02-area>strong,
.main-menu02-wrapper>a:focus .main-menu02-area>strong,
.main-menu02-wrapper>a:hover .main-menu02-area>span,
.main-menu02-wrapper>a:focus .main-menu02-area>span {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.main-menu02-wrapper>a:hover .main-menu02-area>span,
.main-menu02-wrapper>a:focus .main-menu02-area>span {
    color: rgba(255, 255, 255, 1);
}

.main-board-wrapper {
    position: relative;
    float: left;
    width: calc(50% - 25px);
    z-index: 100;
}

.main-title {
    display: block;
    margin-bottom: 29px;
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.main-board-wrapper>ul {
    position: relative;
    padding-top: 80px;
}

.main-board-wrapper>ul>li {
    display: block;
}

.main-board-wrapper>ul>li>button {
    position: absolute;
    top: 0;
    color: #888888;
    font-size: 28px;
    line-height: 58px;
    font-weight: 400;
    padding-right: 17px;
    transition: all 0.2s ease-in-out;
}

.main-board-wrapper>ul>li>button.active,
.main-board-wrapper>ul>li>button:hover {
    color: #111;
	font-weight: 700;
}

.main-board-wrapper>ul>li>button:before {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    display: block;
    width: 1px;
    height: 25px;
    margin-top: -12.5px;
    background-color: #dddddd
}

.main-board-wrapper>ul>li:last-child>button:before {
    display: none;
}

.main-board-wrapper>ul>li:nth-of-type(1)>button {
    left: 0;
}

.main-board-wrapper>ul>li:nth-of-type(2)>button {
    left: 128px;
}

.main-board-wrapper>ul>li:nth-of-type(3)>button {
    left: 237px;
}

.main-board-area {
    display: none;
}

.main-board-wrapper>ul>li>button.active+.main-board-area {
    display: block;
}

.main-board-area>ul>li>a {
    position: relative;
    display: block;
    padding-left: 18px;
    padding-right: 107px;
    font-size: 20px;
    line-height: 36px;
}

.main-board-area>ul>li>a:before {
    position: absolute;
    top: 17px;
    left: 0;
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #666666;
    transition: all 0.2s ease-in-out;
}

.main-board-area>ul>li>a>strong {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: calc(100% - 27px);
    color: #777;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.2s ease-in-out;
}

.main-board-area>ul>li>a>img {
    display: inline-block;
    vertical-align: middle;
    width: 19.5px
}

.main-board-area>ul>li>a .date {
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
}

.main-board-area>ul>li>a:hover strong,
.main-board-area>ul>li>a:hover .date {
    color: #212121;
}

.main-board-area>ul>li>a:hover:before,
.main-board-area>ul>li>a:focus:before {
    background-color: #212121
}

.main-board-wrapper .btn-more {
    position: absolute;
    top: 12px;
    right: 0;
    display: block;
    padding-right: 19px;
    font-size: 16px;
    line-height: 36px;
    color: #333333;
    transition: all 0.2s ease-in-out;
}

.main-board-wrapper .btn-more:hover,
.main-board-wrapper .btn-more:focus {
    color: #137fd2
}

.main-board-wrapper .btn-more:before {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    margin-top: -7px;
    background-image: url(../images/main/icon_more01.gif);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: 0 0;
    transition: all 0.2s ease-in-out;
}

.main-board-wrapper .btn-more:hover:before,
.main-board-wrapper .btn-more:focus:before {
    transform: rotate(90deg);
}

@media only all and (max-width: 1279px) {
    .main-container {
        padding-left: 0;
        padding-right: 0;
    }
    .main-visaul-banner-wrapper {
        padding-right: 420px;
    }
    /*
    .main-visual-wrapper>dl>dd {
        font-size: 32px;
        line-height: 45px;
    }
    */
    .main-visual-wrapper>.bg01 {
        right: 35px;
        width: 225px;
    }
    .main-visual-wrapper>.bg02 {
        right: 20px;
        bottom: 100px;
        width: 75px;
    }
    .main-visual-wrapper>.bg03 {
        right: -15px;
        bottom: 115px;
        width: 82px;
    }
    .main-board-wrapper,
    .main-menu01-wrapper,
    .main-menu02-wrapper>a {
        width: calc(50% - 15px);
    }
    .main-board-area>ul>li>a {
        padding-left: 12px;
        padding-right: 90px;
        font-size: 18px;
    }
    .main-menu02-wrapper>a {
        padding: 0 28px 0 160px;
    }
    .main-menu02-wrapper>a .icon {
        left: 38px;
    }
    .main-menu02-area>strong {
        font-size: 28px;
        line-height: 38px;
    }
    .main-menu02-area>span {
        font-size: 18px;
        line-height: 30px;
    }
}