/* iÅ’?i?â€¦iÂ¡Â´ */


/* iÅ’?i?â€¦i?Å’e|Â¼ */

.mask-popup {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.65);
}

.popupzone-wrapper {
    display: none;
    position: absolute;
    top: 300px;
    left: 50%;
    z-index: -1;
    opacity: 0;
    padding: 14px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.2s ease-in-out;
    transform: translate( -50%, 0);
}

.popupzone-wrapper.on {
    top: 184px;
}

.popupzone-wrapper.active {
    display: block;
    z-index: 1000;
    opacity: 1;
}

.popupzone-area {
    width: 984px;
}

#popupzone-slider .item {
    display: block;
}

#popupzone-slider .item>a {
    display: block;
}

#popupzone-slider .item>a:focus {
    border: dashed 3px #fe00f5;
    outline: none !important
}

#popupzone-slider .item>a>img {
    display: block;
    width: 100%;
}

.popupzone-footer-wrapper {
    text-align: right;
    z-index: 100;
}

.popupzone-btns-wrapper {
    margin-top: 13px;
    display: block;
    text-align: center;
}

#popup-thumbs01 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

#popup-thumbs01 .owl-dot {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
}

#popup-thumbs01 .owl-dot>button {
    display: block;
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
    text-indent: -5000rem;
}

#popup-thumbs01 .owl-dot>button:focus {
    border: dashed 3px #fe00f5
}

#popup-thumbs01 .owl-dot.active>button {
    width: 38px;
    background-color: #e7f1ff;
}

.popupzone-btns-wrapper .btn-popupzone-play,
.popupzone-btns-wrapper .btn-popupzone-stop {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 11px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 11px;
    text-indent: -5000rem;
}

.popupzone-btns-wrapper .btn-popupzone-play {
    background-image: url(../images/popup/icon_play01.gif);
}

.popupzone-btns-wrapper .btn-popupzone-stop {
    background-image: url(../images/popup/icon_stop01.gif);
}

.popupzone-footer-wrapper:after {
    display: block;
    content: "";
    clear: both;
}

.today-checked-close {
    display: inline-block;
    vertical-align: middle;
}


/*
.today-checked-close input[type="checkbox"] {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 100px;
    white-space: nowrap;
    opacity: 0;
}
*/

.today-checked-close input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    appearance: none;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    background-image: url(../images/icon/icon_checkbox_off.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 0 0;
}

.today-checked-close input[type="checkbox"]:checked {
    background-image: url(../images/icon/icon_checkbox_on.png);
}

.today-checked-close input[type="checkbox"]+label {
    position: relative;
    /*
    padding-left: 25px;
    */
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
    font-weight: 300;
    z-index: 100;
    cursor: pointer;
}


/*
.today-checked-close input[type="checkbox"]+label:before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 18px;
    height: 18px;
    margin-top: -9px;
    background-image: url(../images/icon/icon_checkbox_off.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 0 0;
}
*/

.today-checked-close input[type="checkbox"]:checked+label:before {
    background-image: url(../images/icon/icon_checkbox_on.png);
}

.popupzone-footer-wrapper .btn-close {
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
    padding-left: 22px;
    height: 18px;
    font-size: 16px;
    line-height: 18px;
    background-image: url(../images/btn/btn_close.gif);
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: 0 45%;
    color: #fff;
}

@media only all and (max-width: 1023px) {
    .popupzone-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(0, 0);
    }
    .popupzone-area {
        width: 100%;
        max-width: 768px;
    }
    #popupzone-slider {
        width: 100%;
        margin: 0 auto;
    }
    #popupzone-slider .item {
        width: 100% !important;
    }
    #popupzone-slider #popup-thumbs01 {
        margin-top: 15px;
    }
    #popupzone-slider #popup-thumbs01 .owl-dot {
        width: 10px;
        height: 10px;
        margin: 0 5px;
        border-radius: 5px;
    }
    #popupzone-slider #popup-thumbs01 .owl-dot.active {
        width: 20px;
    }
    .popupzone-footer-wrapper {
        position: static;
        padding: 0;
        margin-top: 30px;
    }
    .today-checked-close input[type="checkbox"]+label {
        padding-left: 24px;
        font-size: 15px;
        line-height: 30px;
    }
    .today-checked-close input[type="checkbox"]+label:before {
        width: 16px;
        height: 16px;
        margin-top: -8px;
        background-size: 16px 16px;
    }
    .popupzone-footer-wrapper .btn-close {
        float: right;
        margin: 0;
        display: block;
        height: 40px;
        font-size: 15px;
        padding-left: 30px;
    }
}

@media only all and (max-width: 640px) {
    .popupzone-area {
        width: 100%;
        max-width: 360px;
    }
}