@charset "utf-8";
html,
body {
    height: 100%;
    -webkit-tap-highlight: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.clear:after {
    content: "";
    clear: both;
    display: block;
}

body {
    min-width: 280px;
    font-family: "Pretendard", "맑은 고딕", "돋움", AppleSDGothicNeo, Dotum, Pretendard, Droid Sans, arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #777777;
    list-style: none;
    outline: 0;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.25px;
    -webkit-text-size-adjust: none;
    opacity: 0;
    /* 웹폰트 적용을 위해 추가함 */
}

body.fixed {
    height: 100%;
    overflow: hidden;
}


/* skipToContent */

.skip-navigation a {
    position: absolute;
    left: -3000%;
}

.skip-navigation a:focus {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    background: #039;
    color: #fff;
    text-align: center;
    z-index: 10000000000;
}

caption,
.blind {
    position: absolute;
    top: -50000em;
    left: -50000em;
    color: transparent;
    background: transparent;
    text-shadow: none;
    z-index: -1;
}

.wrapper {
    position: relative;
    margin: 0;
    padding-top: 132px;
    clear: both;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper:after {
    content: "";
    clear: both;
    display: block;
}


/* header */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 132px;
    z-index: 100;
}

.header:after {
    display: block;
    content: "";
    clear: both;
}

.gnb-wrapper {
    width: 100%;
    background-color: rgba(55, 89, 168, 1);
}

.gnb-area {
    width: 100%;
    max-width: 1760px;
    height: 51px;
    padding: 15px 20px 0 20px;
    margin: 0 auto;
}

.gnb-area:after {
    display: block;
    content: "";
    clear: both;
}

.right-gnb-list {
    float: right;
}

.right-gnb-list>ul {
    float: left;
}

.right-gnb-list>ul>li {
    float: left;
    margin-right: 30px;
}

.right-gnb-list>ul>li:last-child {
    margin-right: 0;
}

.right-gnb-list>ul>li>a {
    position: relative;
    display: block;
    color: #ffffff;
    width: 110px;
    height: 36px;
    line-height: 32px;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 18px;
    transition: all 0.2s ease-in-out;
}

.right-gnb-list>ul>li>a:hover {
    color: rgba(55, 89, 168, 1);
    background-color: #fff;
}

.header-wrapper {
    position: absolute;
    top: 51px;
    left: 0;
    width: 100%;
    height: 81px;
    background-color: rgba(55, 89, 168, 1);
}

.wrapper.fixed.focus .header-wrapper,
.wrapper.fixed .header-wrapper {
    position: fixed;
    top: 0;
    background-color: rgba(55, 89, 168, 0.96);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
}

.header-wrapper>.bg {
    position: absolute;
    top: 81px;
    left: 0;
    display: none;
    width: 100%;
    padding: 35px 0;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
    border-top: 1px solid #e9e9e9;
    z-index: 2;
}

.wrapper.fixed .header-wrapper>.bg {
    background-color: rgba(255, 255, 255, 0.96);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
}

.header-area {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1760px;
    height: 81px;
    padding: 0 20px;
    margin: 0 auto;
}

.header-area>h1,
.header-area>h1 a,
.header-area>h1 a img {
    display: inline-block;
}

.header-area>h1 a img {
    margin-right: 10px;
    width: 42px;
}

.header-area>h1 a strong {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.top-menu-wrapper {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}

.top-menu-wrapper>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-menu-wrapper>ul>li {
    display: block;
}

.top-menu-wrapper>ul>li>a {
    position: relative;
    display: inline-block;
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    font-weight: 700
}

.top-menu-wrapper>ul>li>a,
.top-menu-wrapper>ul>li>a:after,
.top-menu-wrapper>ul>li>a:before {
    transition: all .2s;
}

.top-menu-wrapper>ul>li>a:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
}

.top-menu-wrapper>ul>li>a:hover:before,
.top-menu-wrapper>ul>li>a.active:before {
    left: 0;
    width: 100%;
}

.top-menu-wrapper>ul>li>a.active:before {
    background-color: #fff
}

.top-menu-wrapper>ul>li>a:after {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    margin-top: -4px;
    border-radius: 50%;
    opacity: 0;
    background-color: #fff;
}

.top-menu-wrapper>ul>li>a.active:after {
    left: -16px;
    background-color: #fff;
    opacity: 1;
}

.top-menu-wrapper>ul>li>a>.title {
    position: relative;
    top: 0;
    display: block;
    font-size: 22px;
    height: 30px;
    line-height: 30px;
    font-weight: 700;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    transition: transform 500ms;
    -webkit-transition: -webkit-transform 500ms;
    -moz-transition: transform 500ms;
}

.top-menu-wrapper>ul>li>a>.title>span {
    position: relative;
    top: 0;
    display: inline-block;
    color: #fff;
    transition: transform 500ms;
    -webkit-transition: -webkit-transform 500ms;
    -moz-transition: transform 500ms;
}

.top-menu-wrapper>ul>li .top-submenu {
    position: absolute;
    top: 82px;
    left: 50%;
    display: none;
    padding: 35px 15px 35px 35px;
    z-index: 10;
    text-align: left;
    word-break: keep-all;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea
}

.top-menu-wrapper>ul>li .top-submenu h2 {
    margin-bottom: 8px;
}

.top-menu-wrapper>ul>li .top-submenu h2>a {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    color: #222222;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.top-menu-wrapper>ul>li .top-submenu h2>a:hover,
.top-menu-wrapper>ul>li .top-submenu h2>a.active {
    color: #0c4da2;
}

.top-menu-wrapper>ul>li .top-submenu.active {
    background-color: #f8f9f9;
}

.top-menu-wrapper>ul>li .top-submenu>ul {
    display: block;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li {
    margin-bottom: 10px;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li:last-child {
    margin-bottom: 0;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    word-break: keep-all;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a>.title {
    position: relative;
    float: left;
    color: #777777;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.25px;
    font-weight: 300;
    transition: all 0.2s ease-in-out;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a:after {
    content: "";
    clear: both;
    display: block;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a:hover .title {
    color: #0c4da2;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a.active .title {
    color: #0c4da2 !important
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a>.title>span {
    display: block;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a .title:before {
    position: absolute;
    top: 6px;
    left: 0;
    margin-left: -5px;
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background: #0c4da2;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a.active .title:before,
.top-menu-wrapper>ul>li .top-submenu>ul>li>a:hover .title:before,
.top-menu-wrapper>ul>li .top-submenu>ul>li>a:focus .title:before {
    margin-left: -15px;
    opacity: 1;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a.active .title:before {
    background: #0c4da2 !important;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a:hover .title:before,
.top-menu-wrapper>ul>li .top-submenu>ul>li>a:focus .title:before {
    background: #0c4da2;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a .title:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background-color: #0c4da2;
    transition: all 0.2s ease-in-out;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a.active .title:after,
.top-menu-wrapper>ul>li .top-submenu>ul>li>a:hover .title:after,
.top-menu-wrapper>ul>li .top-submenu>ul>li>a:focus .title:after {
    left: 0;
    width: 100%;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a[target=_blank]:before {
    position: absolute;
    top: 0;
    right: -20px;
    margin-top: 4px;
    content: "";
    display: block;
    text-indent: -5000rem;
    width: 12px;
    height: 12px;
    background-size: 12px 24px;
    background-position: 0 -12px;
    background-repeat: no-repeat;
    background-image: url(../images/icon/icon_newwindows01.png);
    transition: all 0.2s ease-in-out;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>a[target=_blank]:hover:before,
.top-menu-wrapper>ul>li .top-submenu>ul>li>a[target=_blank]:focus:before,
.top-menu-wrapper>ul>li .top-submenu>ul>li>a[target=_blank].active:before {
    background-position: 0 0;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>ul {
    display: none;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>ul>li {
    margin-bottom: 5px;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>ul>li>a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding-left: 12px;
    font-size: 13px;
    line-height: 15px;
    color: #4d4d4d;
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>ul>li>a.active {
    color: #38beef
}

.top-menu-wrapper>ul>li .top-submenu>ul>li>ul>li>a:before {
    position: absolute;
    top: 0;
    left: 4px;
    content: "-";
}


/* 상단 메뉴 2개일 경우 */

.top-menu-wrapper>ul>li.counter2 .top-submenu {
    width: 601px;
}

.top-menu-wrapper>ul>li.counter2:nth-child(1) .top-submenu {
    margin-left: -600px;
}

.top-menu-wrapper>ul>li.counter2:nth-child(2) .top-submenu {
    margin-left: 0;
}


/* 상단 메뉴 3개일 경우 */

.top-menu-wrapper>ul>li.counter3 .top-submenu {
    width: 401px;
}

.top-menu-wrapper>ul>li.counter3:nth-child(1) .top-submenu {
    margin-left: -600px;
}

.top-menu-wrapper>ul>li.counter3:nth-child(2) .top-submenu {
    margin-left: -200px;
}

.top-menu-wrapper>ul>li.counter3:nth-child(3) .top-submenu {
    margin-left: 200px;
}


/* 상단 메뉴 4개일 경우 */

.top-menu-wrapper>ul>li.counter4 .top-submenu {
    width: 301px;
}

.top-menu-wrapper>ul>li.counter4:nth-child(1) .top-submenu {
    margin-left: -600px;
}

.top-menu-wrapper>ul>li.counter4:nth-child(2) .top-submenu {
    margin-left: -300px;
}

.top-menu-wrapper>ul>li.counter4:nth-child(3) .top-submenu {
    margin-left: 0;
}

.top-menu-wrapper>ul>li.counter4:nth-child(4) .top-submenu {
    margin-left: 300px;
}


/* 상단 메뉴 5개일 경우 */

.top-menu-wrapper>ul>li.counter5 .top-submenu {
    width: 241px;
}

.top-menu-wrapper>ul>li.counter5:nth-child(1) .top-submenu {
    margin-left: -600px;
}

.top-menu-wrapper>ul>li.counter5:nth-child(2) .top-submenu {
    margin-left: -360px;
}

.top-menu-wrapper>ul>li.counter5:nth-child(3) .top-submenu {
    margin-left: -120px;
}

.top-menu-wrapper>ul>li.counter5:nth-child(4) .top-submenu {
    margin-left: 120px;
}

.top-menu-wrapper>ul>li.counter5:nth-child(5) .top-submenu {
    margin-left: 360px;
}


/* 상단 메뉴 6개일 경우 */

.top-menu-wrapper>ul>li.counter6 .top-submenu {
    width: 201px;
}

.top-menu-wrapper>ul>li.counter6:nth-child(1) .top-submenu {
    margin-left: -600px;
}

.top-menu-wrapper>ul>li.counter6:nth-child(2) .top-submenu {
    margin-left: -400px;
}

.top-menu-wrapper>ul>li.counter6:nth-child(3) .top-submenu {
    margin-left: -200px;
}

.top-menu-wrapper>ul>li.counter6:nth-child(4) .top-submenu {
    margin-left: 0px;
}

.top-menu-wrapper>ul>li.counter6:nth-child(5) .top-submenu {
    margin-left: 200px;
}

.top-menu-wrapper>ul>li.counter6:nth-child(6) .top-submenu {
    margin-left: 400px;
}


/* 상단 메뉴 7개일 경우 */

.top-menu-wrapper>ul>li.counter7 .top-submenu {
    width: 172px;
}

.top-menu-wrapper>ul>li.counter7:nth-child(1) .top-submenu {
    margin-left: -600px;
}

.top-menu-wrapper>ul>li.counter7:nth-child(2) .top-submenu {
    margin-left: -429px;
}

.top-menu-wrapper>ul>li.counter7:nth-child(3) .top-submenu {
    margin-left: -258px;
}

.top-menu-wrapper>ul>li.counter7:nth-child(4) .top-submenu {
    margin-left: -87px;
}

.top-menu-wrapper>ul>li.counter7:nth-child(5) .top-submenu {
    margin-left: 84px;
}

.top-menu-wrapper>ul>li.counter7:nth-child(6) .top-submenu {
    margin-left: 255px;
}

.top-menu-wrapper>ul>li.counter7:nth-child(7) .top-submenu {
    margin-left: 426px;
}


/* 상단 메뉴 8개일 경우 */

.top-menu-wrapper>ul>li.counter8 .top-submenu {
    width: 151px;
}

.top-menu-wrapper>ul>li.counter8:nth-child(1) .top-submenu {
    margin-left: -600px;
}

.top-menu-wrapper>ul>li.counter8:nth-child(2) .top-submenu {
    margin-left: -450px;
}

.top-menu-wrapper>ul>li.counter8:nth-child(3) .top-submenu {
    margin-left: -300px;
}

.top-menu-wrapper>ul>li.counter8:nth-child(4) .top-submenu {
    margin-left: -150px;
}

.top-menu-wrapper>ul>li.counter8:nth-child(5) .top-submenu {
    margin-left: 0;
}

.top-menu-wrapper>ul>li.counter8:nth-child(6) .top-submenu {
    margin-left: 150px;
}

.top-menu-wrapper>ul>li.counter8:nth-child(7) .top-submenu {
    margin-left: 300px;
}

.top-menu-wrapper>ul>li.counter8:nth-child(8) .top-submenu {
    margin-left: 450px;
}


/* 전체메뉴 */

.mask-totalmenu {
    position: fixed;
    top: 126px;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 15;
}

.totalmenu-wrapper {
    display: none;
}

.right-btns {
    position: absolute;
    top: 0;
    right: 0;
    height: 90px;
}

.right-btns:after {
    display: block;
    content: "";
    clear: both;
}

.btn-totalmenu {
    position: relative;
    float: left;
    width: 81px;
    height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-totalmenu:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 0;
    transition: all 0.1s ease-in-out;
}

.btn-totalmenu .menu {
    position: relative;
    display: block;
    width: 26px;
    height: 21px;
}

.btn-totalmenu .menu>span {
    position: absolute;
    left: 0;
    width: 26px;
    height: 3px;
    background-color: #fff;
    transition: all 0.2s ease;
}

.btn-totalmenu .menu>span:nth-of-type(1) {
    top: 0;
}

.btn-totalmenu .menu>span:nth-of-type(2) {
    top: 9px;
}

.btn-totalmenu .menu>span:nth-of-type(3) {
    bottom: 0;
    width: 17px;
}

.btn-totalmenu .menu.active>span:nth-child(1) {
    width: 100%;
    transform: translateY(9px) rotateZ(45deg);
}

.btn-totalmenu .menu.active>span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.btn-totalmenu .menu.active>span:nth-child(3) {
    width: 100%;
    transform: translateY(-9px) rotateZ(-45deg);
}

.sub-visual {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82px;
    background-color: #213768;
    background-image: url(../images/common/bg_subvisual.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 82px;
    background-position: Center;
}

.sub-visual>img.pc {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 1920px;
    margin-left: -960px;
}

.sub-visual>img.mobile {
    display: none;
}

.sub-visual>h2 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 82px;
    color: #ffffff;
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
}

.additional-function-wrapper {
    position: relative;
    width: 100%;
    max-width: 1240px;
    height: 82px;
    padding: 0 20px;
    margin: 0 auto;
}

.additional-function-wrapper:after {
    display: block;
    content: "";
    clear: both;
}

.additional-function-wrapper>li {
    position: relative;
    float: right;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82px;
}

.additional-function-wrapper>li>button {
    position: relative;
    display: block;
    width: 21px;
    height: 21px;
    text-indent: -500rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 21px 21px;
    cursor: pointer
}

.additional-function-wrapper>li>button.share {
    background-image: url(../images/icon/icon_share01.png)
}

.additional-function-wrapper>li>button.print {
    background-image: url(../images/icon/icon_print01.png)
}

.share-list-wrapper {
    position: absolute;
    top: 70px;
    right: 50%;
    margin-right: -85px;
    margin-top: -10px;
    width: 170px;
    height: 230px;
    display: none;
    background: #fff;
    border: 1px solid #000;
    padding: 40px 20px 20px 20px;
    transition: 0.2s all ease-in-out;
    overflow: hidden;
    z-index: 15;
}

.share-list-wrapper>ul {
    display: block;
}

.share-list-wrapper>ul>li {
    text-align: left;
    margin-top: 5px;
}

.share-list-wrapper>ul>li:first-child {
    margin-top: 0;
}

.share-list-wrapper>ul>li>a {
    width: auto !important;
    font-size: 15px;
    color: #333333;
    padding-left: 40px;
    line-height: 34px;
    display: block;
    background-repeat: no-repeat;
    background-size: 30px 31px;
    background-position: left center;
}

.share-list-wrapper>ul>li>a.facebook {
    background-image: url(../images/icon/icon_facebook.png);
}

.share-list-wrapper>ul>li>a.twitter {
    background-image: url(../images/icon/icon_twiter.png);
}

.share-list-wrapper>ul>li>a.blog {
    background-image: url(../images/icon/icon_blog.png);
}

.share-list-wrapper>ul>li>a.kakaostory {
    background-image: url(../images/icon/icon_kakstory.png);
}

.share-list-wrapper button.close {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../images/btn/btn_close01.png);
    background-size: 12px 12px;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}

.container {
    position: relative;
    padding-top: 111px;
}

.contents-navigation-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 56px;
    background-color: #009bd9;
}

.contents-navigation {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.contents-navigation:after {
    content: "";
    clear: both;
    display: block;
}

.contents-navigation>.home {
    position: relative;
    float: left;
    width: 61px;
    height: 56px;
    background-color: #0e7ec3
}

.contents-navigation>.home:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.15);
    transition: all 0.1s ease-in-out;
}

.contents-navigation>.home:hover:before {
    height: 100%;
}

.contents-navigation>.home>span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 20px;
    height: 15px;
    margin-top: -7.5px;
    margin-left: -10px;
    font-size: 0;
    text-indent: -5000rem;
    background-size: 20px 15px;
    background-image: url(../images/icon/icon_home.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 10;
}

.contents-navigation>ul {
    float: left;
}

.contents-navigation>ul:after {
    content: "";
    clear: both;
    display: block;
}

.contents-navigation>ul>li {
    position: relative;
    float: left;
    min-width: 236px;
}

.contents-navigation>ul>li:before {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    display: block;
    width: 1px;
    height: 18px;
    margin-top: -9px;
    background-color: #1379b0;
}

.contents-navigation>ul>li button {
    position: relative;
    width: 100%;
    height: 56px;
    padding: 0 44px 0 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

.contents-navigation>ul>li button.active {
    background-color: rgba(60, 147, 166, 0.1);
}

.contents-navigation>ul>li button:after {
    position: absolute;
    top: 50%;
    right: 27px;
    content: "";
    display: block;
    width: 14px;
    height: 9px;
    margin-top: -4.5px;
    background-image: url(../images/icon/icon_arrow_down01.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 14px 9px;
    transition: all 0.2s ease-in-out;
}

.contents-navigation>ul>li button.active:after {
    transform: rotate(180deg);
}

.contents-navigation>ul>li>ul {
    position: absolute;
    top: 56px;
    left: -1px;
    display: none;
    width: calc(100% + 2px);
    max-height: 350px;
    border: 1px solid #dddddd;
    border-bottom: 0;
    background-color: #e7eaed;
    overflow-y: auto;
    z-index: 11;
}

.contents-navigation>ul>li>ul>li {
    display: block;
}

.contents-navigation>ul>li>ul>li>a {
    display: flex;
    width: 100%;
    min-height: 58px;
    padding: 10px 25px;
    color: #555555;
    font-size: 17px;
    line-height: 36px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid #d3d8df;
}

.contents-navigation>ul>li>ul>li>a strong {
    position: relative;
    display: inline-block;
}

.contents-navigation>ul>li>ul>li>a:after {
    content: "";
    clear: both;
    display: block;
}

.contents-navigation>ul>li>ul>li>a:hover,
.contents-navigation>ul>li>ul>li>a:focus {
    color: #fff;
    background-color: #f07e3f
}

.contents-navigation>ul>li>ul>li>a[target="_blank"] strong:after {
    position: absolute;
    top: 50%;
    right: -20px;
    content: "";
    display: block;
    text-indent: -5000rem;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    background-size: 12px 24px;
    background-position: 0 -12px;
    background-repeat: no-repeat;
    background-image: url(../images/icon/icon_newwindows02.png);
    transition: all 0.2s ease-in-out;
}

.contents-navigation>ul>li>ul>li>a[target="_blank"]:hover strong:after,
.contents-navigation>ul>li>ul>li>a[target="_blank"]:focus strong:after {
    background-position: 0 0;
}

.container-wrapper {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.lnb-wrapper {
    display: none;
}

.contents {
    display: block;
    width: 100%;
    min-height: 300px;
    padding: 0 0 100px 0;
    text-align: left;
}

.contents:after {
    content: "";
    clear: both;
    display: block
}

.contents-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 58px;
    width: 100%;
    color: #000000;
    font-size: 42px;
    height: 86px;
    font-weight: 700
}

.contents-title:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    display: block;
    width: 100px;
    height: 2px;
    margin-left: -50px;
    background-color: #000000
}

.contents-wrapper {
    min-height: 400px;
}

.contents-area {
    margin-bottom: 80px;
}

.contents-area02 {
    margin-bottom: 65px;
}

.contents-box {
    padding-left: 25px;
    margin-bottom: 40px;
}

.contents-group {
    margin-bottom: 28px;
}

.contents-area:last-child,
.contents-box:last-child,
.contents-group:last-child {
    margin-bottom: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    padding: 30px 20px 50px 20px;
}

.footer-left-wrapper {
    color: #939393;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.footer-menu {
    display: block;
}

.footer-menu {
    margin-bottom: 5px;
}

.footer-menu:after {
    display: block;
    content: "";
    clear: both;
}

.footer-menu>li {
    position: relative;
    float: left;
    padding-right: 18px;
    margin-right: 16px;
}

.footer-menu>li:before {
    position: absolute;
    top: 50%;
    right: 0;
    content: "";
    display: block;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: #c4c4c8;
}

.footer-menu>li:last-child {
    margin-right: 0;
    padding-right: 0;
}

.footer-menu>li:last-child:before {
    display: none;
}

.footer-menu>li>a {
    position: relative;
    display: block;
    color: #a5a5a5;
    font-size: 16px;
    line-height: 25px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.footer-menu>li:first-child>a {
    color: #377fb7 !important
}

.footer-menu>li>a:hover,
.footer-menu>li>a:focus {
    color: #212121
}

.copyright {
    font-weight: 700;
}

.footer-right-wrapper {
    display: block;
}

.footer-site-wrapper {
    position: relative;
    padding-right: 80px;
}

.footer-site-wrapper>select {
    appearance: none;
    width: 265px;
    height: 55px;
    text-indent: 20px;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    color: #333333;
    font-size: 16px;
    background-image: url(../images/common/icon_select_arrow01.png);
    background-repeat: no-repeat;
    background-position: calc(100% - 24px) center;
    background-size: 12px 8px
}

.footer-site-wrapper>button {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 73px;
    height: 55px;
    border: 1px solid #292929;
    border-radius: 4px;
    color: #292929;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.footer-site-wrapper>button:hover {
    background-color: #292929;
    color: #fff;
}

.btn-top-go,
.btn-mobile-back {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    background-color: #575a5b;
    border-radius: 2px;
    opacity: 0.95;
    z-index: 20;
}

.btn-mobile-back {
    right: 0;
    margin-bottom: 52px;
}

@media only all and (max-width: 1380px) {
    .share-list-wrapper {
        right: 0;
        margin-right: 0;
    }
}

@media only all and (max-width: 1279px) {
    .top-menu-wrapper {
        max-width: 650px;
    }
    .top-menu-wrapper>ul>li>a>.title {
        font-size: 18px;
    }
    .top-menu-wrapper>ul>li .top-submenu {
        left: 0;
        border-left: 0;
        padding: 35px 10px 35px 30px;
    }
    /* 상단 메뉴 2개일 경우 */
    .top-menu-wrapper>ul>li.counter2 .top-submenu {
        width: 50%;
    }
    .top-menu-wrapper>ul>li.counter2:nth-child(1) .top-submenu {
        margin-left: 0;
    }
    .top-menu-wrapper>ul>li.counter2:nth-child(2) .top-submenu {
        margin-left: 50%;
    }
    /* 상단 메뉴 3개일 경우 */
    .top-menu-wrapper>ul>li.counter3 .top-submenu {
        width: 33.3333%;
    }
    .top-menu-wrapper>ul>li.counter3:nth-child(1) .top-submenu {
        margin-left: 0;
    }
    .top-menu-wrapper>ul>li.counter3:nth-child(2) .top-submenu {
        margin-left: 33.3333%;
    }
    .top-menu-wrapper>ul>li.counter3:nth-child(3) .top-submenu {
        margin-left: 66.6666%;
    }
    /* 상단 메뉴 4개일 경우 */
    .top-menu-wrapper>ul>li.counter4 .top-submenu {
        width: 25%;
    }
    .top-menu-wrapper>ul>li.counter4:nth-child(1) .top-submenu {
        margin-left: 0;
    }
    .top-menu-wrapper>ul>li.counter4:nth-child(2) .top-submenu {
        margin-left: 25%;
    }
    .top-menu-wrapper>ul>li.counter4:nth-child(3) .top-submenu {
        margin-left: 50%;
    }
    .top-menu-wrapper>ul>li.counter4:nth-child(4) .top-submenu {
        margin-left: 75%;
    }
    /* 상단 메뉴 5개일 경우 */
    .top-menu-wrapper>ul>li.counter5 .top-submenu {
        width: 20%;
    }
    .top-menu-wrapper>ul>li.counter5:nth-child(1) .top-submenu {
        margin-left: 0;
    }
    .top-menu-wrapper>ul>li.counter5:nth-child(2) .top-submenu {
        margin-left: 20%;
    }
    .top-menu-wrapper>ul>li.counter5:nth-child(3) .top-submenu {
        margin-left: 40%;
    }
    .top-menu-wrapper>ul>li.counter5:nth-child(4) .top-submenu {
        margin-left: 60%;
    }
    .top-menu-wrapper>ul>li.counter5:nth-child(5) .top-submenu {
        margin-left: 80%;
    }
    /* 상단 메뉴 6개일 경우 */
    .top-menu-wrapper>ul>li.counter6 .top-submenu {
        width: 16.6666%
    }
    .top-menu-wrapper>ul>li.counter6:nth-child(1) .top-submenu {
        margin-left: 0;
    }
    .top-menu-wrapper>ul>li.counter6:nth-child(2) .top-submenu {
        margin-left: 16.6666%;
    }
    .top-menu-wrapper>ul>li.counter6:nth-child(3) .top-submenu {
        margin-left: 33.3332%;
    }
    .top-menu-wrapper>ul>li.counter6:nth-child(4) .top-submenu {
        margin-left: 49.9998%;
    }
    .top-menu-wrapper>ul>li.counter6:nth-child(5) .top-submenu {
        margin-left: 66.6664%;
    }
    .top-menu-wrapper>ul>li.counter6:nth-child(6) .top-submenu {
        margin-left: 83.333%;
    }
    /* 상단 메뉴 7개일 경우 */
    .top-menu-wrapper>ul>li.counter7 .top-submenu {
        width: 14.285%;
        padding: 30px 10px;
    }
    .top-menu-wrapper>ul>li.counter7:nth-child(1) .top-submenu {
        margin-left: 0;
    }
    .top-menu-wrapper>ul>li.counter7:nth-child(2) .top-submenu {
        margin-left: 14.285%;
    }
    .top-menu-wrapper>ul>li.counter7:nth-child(3) .top-submenu {
        margin-left: 28.57%;
    }
    .top-menu-wrapper>ul>li.counter7:nth-child(4) .top-submenu {
        margin-left: 42.855%;
    }
    .top-menu-wrapper>ul>li.counter7:nth-child(5) .top-submenu {
        margin-left: 57.14%;
    }
    .top-menu-wrapper>ul>li.counter7:nth-child(6) .top-submenu {
        margin-left: 71.425%;
    }
    .top-menu-wrapper>ul>li.counter7:nth-child(7) .top-submenu {
        margin-left: 85.71%;
    }
    /* 상단 메뉴 8개일 경우 */
    .top-menu-wrapper>ul>li.counter8 .top-submenu {
        width: 12.5%;
    }
    .top-menu-wrapper>ul>li.counter8:nth-child(1) .top-submenu {
        margin-left: 0;
    }
    .top-menu-wrapper>ul>li.counter8:nth-child(2) .top-submenu {
        margin-left: 12.5%;
    }
    .top-menu-wrapper>ul>li.counter8:nth-child(3) .top-submenu {
        margin-left: 25%;
    }
    .top-menu-wrapper>ul>li.counter8:nth-child(4) .top-submenu {
        margin-left: 37.5%;
    }
    .top-menu-wrapper>ul>li.counter8:nth-child(5) .top-submenu {
        margin-left: 50%;
    }
    .top-menu-wrapper>ul>li.counter8:nth-child(6) .top-submenu {
        margin-left: 62.5%;
    }
    .top-menu-wrapper>ul>li.counter8:nth-child(7) .top-submenu {
        margin-left: 75%;
    }
    .top-menu-wrapper>ul>li.counter8:nth-child(8) .top-submenu {
        margin-left: 87.5%;
    }
    .footer-site-wrapper>select {
        width: 225px
    }
}